<div class="row">
  <!-- --------------------------------------------------------------------------- -->
  <!-- Sales Overview -->
  <!-- --------------------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------------------- -->
  <!-- end Sales overview -->
  <!-- --------------------------------------------------------------------------- -->

  <div class="col-lg-4">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <mat-card-title>Bienvenido al diagramador en tiempo real!</mat-card-title>
<!-- a que se muestra los proyecto creados y tambien ara crea un proeycto  -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
